@import url("https://coolors.co/ffffff-af7595-c9f9ff-0081af-ffe9f3");

@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Josefin+Sans:wght@200&family=Source+Sans+Pro:wght@300&display=swap");

@import url("https://fontawesome.com/v5/icons/github?s=brands");

head {
    background-color: #b8bedd;
}
#name {
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}

#intro {
    background-color: #ff7c52;
    height: 100vh;
    padding: 30px;
    animation: text duration 4ms delay 3s;
    /* font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif; */
}
#into h1 {
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    animation: fadein ease-in 1s;
}

#intro #downArrow {
    font-size: 40px;
    color: white;
}
#about {
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}

#about {
    background-color: #dca7a3;
    width: 100%;
    padding: 30px;
    padding-left: 20px;
}

#contact {
    background: #e69580;
    color: white;
    padding: 30px;
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}
section {
    min-height: 30vh;
    box-shadow: -10px 0 25px #ffff;
}

#contact a {
    color: white;
}

#contact input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#contact textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
#contact .btn {
    width: 100%;
}
#portfolio {
    background-color: #ffa780;
    padding: 30px;
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}
.portfolioTitle {
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}

#portfolio .card {
    width: 100%;
}

footer p {
    margin: 0;
}

footer {
    background: #f0e6ef;
    padding: 30px;
    color: white;
}

#contact p {
    color: white;
}

.contactInfo {
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}

code {
    color: azure;
    font-size: x-large;
}

body {
    background-color: #f0e6ef;
    font-family: "El Messiri", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}
.bg-light {
    background-color: lightcoral !important;
}

#project {
    background-color: lavenderblush;
    color: black;
    padding: 20px;
}
#project img {
    border-radius: 10px;
}
#project #navigateArrows > span {
    font-size: 40px;
    margin-top: 25px;
}
.badge {
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

h3 {
    font-size: 15px;
}
